body{
   background-image: url(https://s.yimg.com/ny/api/res/1.2/i_TI3tCy52E0BT_9Ru6PjA--/YXBwaWQ9aGlnaGxhbmRlcjt3PTY0MDtoPTYzOQ--/https://s.yimg.com/uu/api/res/1.2/Zec6O5KO26QXp_CGq.Vbrw--~B/aD05NjI7dz05NjQ7YXBwaWQ9eXRhY2h5b24-/http://36.media.tumblr.com/af8bbb5a3b40465281de22cf6ec1aae8/tumblr_inline_nz750u2COJ1ty84t8_1280.png)
}

.container{
  display: flex;
  flex-wrap: wrap;
  flex-basis: content;
  justify-content: space-around;
  gap: 2rem;
  background-color: #232323;
  margin-top: 10%;
}
/* what the ducking duck is happening */
.card{
  display: flex;
  align-content: space-between;
  flex-basis: 30%;
}
.card-title{
  display: flex;
  justify-content: center;
  align-content: center;
  border: 1px solid lightblue;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 12px;
}

.card-img-top{
  display: block;
  margin: 0 auto 0 auto;
  width: 150px;
  height: 150px;
}

.availBox{
  display: flex;
  background-color: grey;
  color: goldenrod;
}

.spec-list{
  text-align: left;
  font-weight: bold;
}

.y2k{
text-align: left;
text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 12px;
}

.price-list{
  text-align: left;
  font-weight: bold;
}

.list-group-item{
  text-align: left;
  font-weight: bold;
}


@keyframes textclip {
  to {
    background-position: 200% center;
}
